Skip to content
This repository
Search
Pull requests
Issues
Gist
 @liushuchun
 Unwatch 1
  Star 0
 Fork 0 liushuchun/test
 Code  Issues 0  Pull requests 0  Wiki  Pulse  Graphs  Settings
Branch: master Find file Copy pathtest/.gitignore
61554c3  just now
@liushuchun liushuchun Initial commit
1 contributor
RawBlameHistory     25 lines (19 sloc)  266 Bytes
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.py

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help