*.o
*.a
*.so
*.py
# Folders
_obj
_test
wechatcmd
/ui/ui
main.log

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
