/vendor
/qr.jpg

*o
*.a
*.so
*.py
# Folders
_obj
_test

/ui/ui
log.txt

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.test
*.prof
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
